@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");

body {
    margin: auto;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    background-color: #2f353c;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 6vh;
}

nav li {
    color: #0099ff;
    margin-left: 0;
    margin-right: 2vw;
}

section {
    display: flex;
    flex-direction: row;
}

.applisting {
    margin: 1vh 1vw;
    width: 30vw;
    height: 35vh;
    border-radius: 5px;
    background-color: #FFFDD0;
    visibility: inherit;
    border: solid 2px black;
    text-align: center;
}

.applisting img {
    width: 15vw;
    height: 15vh;
    overflow: hidden;
    display: inline;
    position: center;
    padding: 0;
    margin: 0px 0px 0px 0px;
}

    .applisting:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

#overlay {
    z-index: 1000;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#appdata {
    display: inherit;
    z-index: 1001;
    position: absolute;
    top: 6vh;
    left: 25vw;
    right: 25vw;
    bottom: 0;
    background-color: azure;
    border-radius: 5px;
}

