@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");

body {
    margin: 0;
    height: 100%;
}

nav
{
    position: sticky;
    top: 0;
    border-bottom-left-radius: 15% 20%;
    border-bottom-right-radius: 15% 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #2f353c;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 6vh;
}

nav li {
    color: #0099ff;
    margin-left: 0;
    margin-right: 2vw;
    font-family: 'Marcellus', serif;
    font-size:2vh;
}

#options
{
    border-radius: 10px;
    border:none;
    padding-left:10px;
    padding-right:10px;
    max-width: 10vw;
    min-width: 150px;
    max-height: 3vh;
    min-height: 20px;
    line-height: 2vh;
}

#options:focus
{
    outline: 0;
    box-shadow: 0px 0px 3px 3px #0099ff;
}

#searchbar
{
    border-radius: 10px;
    border:none;
    padding-left:10px;
    padding-right:10px;
    max-width: 10vw;
    min-width: 150px;
    max-height: 3vh;
    min-height: 20px;
    line-height: 2vh;
    font-size: 2vh;
}

#searchbar::placeholder
{
    font-size: 2vh;
    vertical-align:middle;
    line-height: 2vh;
}

#searchbar:focus
{
    outline: 0;
    box-shadow: 0px 0px 3px 3px #0099ff;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

#apps
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    margin-left: 0;
}
.applisting 
{
    margin: 1vh 1vw;
    width: 25vw;
    height: 35vh;
    border-radius: 5px;
    background-color: bisque;
    visibility: inherit;
    border: solid 2px black;
    text-align:center;
    font-family: 'Marcellus', serif;
    font-size: 2vh;
}

.applisting img {
    width: 10vw;
    height: 20vh;
    overflow: hidden;
    display: inline;
    position: center;
    padding: 0;
    margin: 0px 0px 0px 0px;
}

.applisting:hover
{
    cursor:pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#filterSelection
{
    position: fixed;
    right: 20px;
    left: auto;
    top: 8vh;
    bottom: auto;
    background-color:transparent;
    width: 10vw;
    height: 20vh;
    border-radius: 10px 20px;
    font-family: 'Marcellus', serif;
    font-size: 2vh;
    font-weight: bold;
    color: #0099ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
}

#categoryContainer
{
    max-height: 10vh;
    overflow: auto;
    position: relative; 
    z-index: 900; 
    display: none;
}

#categories
{
    list-style-type: none;
    font-size: 16px;
    margin: 0 auto;
    margin-left: 10px;
    padding: 0;
    width: auto;
    text-align:left;
}

#overlay
{
    z-index: 1000;
    position:fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    overflow:hidden;
}

#appdata
{
    display: none;
    z-index: 1001;
    position:fixed;
    top: 0;
    left: 25vw;
    right: 25vw;
    width: 50vw;
    bottom: 0;
    background-color: azure;
    border-radius: 5px;
}

#comments th, #comments td
{
    border-style: dotted;
}

#signin
{
    display: none;
    z-index: 1001;
    position: fixed;
    top: 7vh;
    left: 25vw;
    right: 25vw;
    bottom: 70vh;
    background-color: #2f353c;
    border-radius: 5px;
}

.os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
    left: auto;
    right: 0;
    top: 6vh;
    /* max-height: 25%;
    min-height: 30px; */
}
